/*project css*/

#projects {
  background-color: #efefef;
  height: auto;
  margin-top: 0px;
  font-size: 19px;
  line-height: 34px;
  -webkit-font-smoothing: antialiased;

}

#projectsblock {
	background-color: #495266;
}

.row {
  clear: both;
}

.portfolio-thumb {
  width: 45%;
  margin: 20px;
  background-color: white;
  display: inline-block;
  border-radius: 5px;
  vertical-align: top;
}

.portfolio-thumb img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}

.portfolio-thumb img:hover {
  opacity: 0.6
}

.portfolio-thumb p {
  font-size: 14px;
  padding: 25px;
  padding-top: 20px;
  text-align: left;
  line-height: 24px;
}

.portfolio-thumb a {
  text-decoration: underline;
}

.portfolio-big {
  width: 95%;
 /* height: 680px;*/
}

@media screen and (max-width:860px) {
  .portfolio-thumb {
    width: 90%;
  }
}

.modal {
text-align: center;
padding: 0!important;
}

.modal:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
margin-right: -4px;
}

.modal-dialog {
display: inline-block;
text-align: left;
vertical-align: middle;
}

.screenshot {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
    padding-bottom: 10px;
}

.screenshots {
    text-align: center;
}

.modal-title {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    font-size: 15px;
    padding: 10px;
}
.modal-header {
	text-align: center;
}

.modal-subtitle {
	font-family: 'Karla', sans-serif;
}

.modal-body ul {
	font-family: 'Karla', sans-serif;
}

.modal-body p {
	font-family: 'Karla', sans-serif;
	font-size:14px;
}

#github {
	height:20px;
  width:20px;
  float:left;
}
